<h1 class="display-4 fw-bold lh-1 mb-3">Start a game</h1>
<% if logged_in? %>
  <p class="col-lg-10 fs-4">(todo - button to start a game)</p>
<% else %>
  <p class="col-lg-10 fs-4">(todo - button to log in with google and start a game)</p>
<% end %>
